# Maven
/target
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
**/logs
**/*.log

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
